/* File: stylesheet.css */

/*
 * Style definition (selection) root:
 *
 * The rule(s) applied in the code block applies to the entire node
 */
.root {
    -fx-background-color: #407294
}

/* Overriding a Style */
.button {

    -fx-text-fill: white;
    -fx-border-control: rgb(49,89,23);
    -fx-background-color: #c0c0c0;
    -fx-padding: 3 6 6 6;
    -fx-font-weight: bold; /* The font-weight property sets how thick or thin text should be displayed */
    /* normal|bold|bolder|lighter|number|initial|inherit */
}

.text-area .content {
    -fx-text-fill: black;
    -fx-background-color: #aec6cf;
    -fx-border-color: #00008B;
}

.table-view {
    -fx-background-color: #aec6cf;
}

#color-field {
    -fx-text-fill: black;
    -fx-background-color: #aec6cf;
    -fx-border-color: #00008B;
}


#group-label {
    -fx-text-fill: white;
}