/* File: stylesheet.css */

.root {
    -fx-background-color: #407294
}

.button {

    -fx-text-fill: white;
    -fx-border-control: rgb(49,89,23);
    -fx-background-color: #c0c0c0;
    -fx-padding: 3 6 6 6;
    -fx-font-weight: bold;
}

.text-area .content {
    -fx-text-fill: black;
    -fx-background-color: #aec6cf;
    -fx-border-color: #00008B;
}

.table-view {
    -fx-background-color: #aec6cf;
}

#color-field {
    -fx-text-fill: black;
    -fx-background-color: #aec6cf;
    -fx-border-color: #00008B;
}

#category-label {
    -fx-text-fill: white;
}